[Desktop Entry]
Name=SimCity 4
Comment=SimCity 4 Deluxe WINE GOG
Exec=/usr/bin/simcity4
Icon=simcity4-gog
Terminal=false
Type=Application
Categories=Application;Game;
