[Desktop Entry]
Name=DiRT Rally
Comment=DiRT Rally WINE
Exec=/usr/bin/dirtrally
Icon=dirtrally
Terminal=false
Type=Application
Categories=Application;Game;
