[Desktop Entry]
Name=Age of Mythology: Retold
Comment=Play Age of Mythology: Retold with WINE
Exec=/usr/bin/aom-retold
Icon=aom-retold-wine-steam
Terminal=false
Type=Application
Categories=Game;StrategyGame;
