[Desktop Entry]
Name=Call of Duty: WWII
Comment=Call of Duty: WWII Multiplayer WINE
Exec=/usr/bin/codww2
Icon=codww2
Terminal=false
Type=Application
Categories=Application;Game;
